* {
  box-sizing: border-box;
}

h1 {
  font-weight: arial, sans-serif;
  font-size: 2rem;
}

li {
  font-size: 2rem;
  border: solid 2px orange;
  margin: 2rem;
  padding: 10px;
  background-color: orange;
  border-radius: 10px;
  list-style: none;
  text-align: center;
}

a {
  color: rgb(0, 37, 198);
}

#main {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  background-color: #eee;
}

nav {
  display: inline-block;
  order: 0;
  height: 50rem;
  width: 10rem;
  background-color: brown;
}

ul {
  font-size: .5rem;
}
