.container {
  display: flex;
  flex-direction: row;
  width: 60rem;
  height: 60rem;
  border: 10px solid red;
}

form {
  font-size: 1.5rem;
}
/********************************************/
.boxes {
  height: 10rem;
  width: 10rem;
  border: solid 0.2rem blue;
  text-align: center;
}
/********************************************/
.boxes1 {
  display: flex;
  justify-content: space-around;
}
.flex-direction_column {
  flex-direction: column;
}
.flex-direction_row {
  flex-direction: row;
}
.justify_content_baseline {
  justify-content: baseline;
}
.justify_content_center {
  justify-content: center;
}
.justify_content_end {
  justify-content: end;
}
.justify_content_flexend {
  justify-content: flex-end;
}
.justify_content_spacearound {
  justify-content: space-around;
}
.justify_content_spacebetween {
  justify-content: space-between;
}
/********************************************/

.Box1 {
  background-color: green;
}
.Box2 {
  background-color: yellow;
}
.Box3 {
  background-color: red;
}
/********************************************/
.boxes2 {
  display: flex;
  flex-flow: column;
  display: none;
  /* justify-content: flex-end; */
}
.Box4 {
  background-color: rgb(0, 255, 0);
}
.Box5 {
  background-color: rgb(255, 255, 0);
}
.Box6 {
  background-color: rgb(255, 166, 0);
}
/********************************************/
