.container {
  display: flex;
  width: 30rem;
  height: 30rem;
  border: 4px solid red;
}

form {
  font-size: 1.5rem;
}
/********************************************/
.boxes {
  height: 3rem;
  width: 3rem;
  border: solid 0.1rem blue;
  text-align: center;
}
/********************************************/
.boxes1 {
  display: flex;
}
.flex-direction_column {
  flex-direction: column;
}
.flex-direction_row {
  flex-direction: row;
}
.justify_content_baseline {
  justify-content: baseline;
}
.justify_content_center {
  justify-content: center;
}
.justify_content_end {
  justify-content: end;
}
.justify_content_flexend {
  justify-content: flex-end;
}
.justify_content_spacearound {
  justify-content: space-around;
}
.justify_content_spacebetween {
  justify-content: space-between;
}
/********************************************/

.Box1 {
  background-color: green;
}
.Box2 {
  background-color: yellow;
}
.Box3 {
  background-color: red;
}
.Box4 {
  background-color: brown;
}
.Box5 {
  background-color: purple;
}
.Box6 {
  background-color: orange;
}
/********************************************/
