html {
  box-sizing: border-box;
  color: rgb(255, 0, 255);
}

.container {
  border: solid 4px rgb(255, 0, 0);
  background-color: rgb(142, 71, 71);
  margin: auto 0% auto 0%;
  margin: 10px;
  width: 385px;
}

/* 1er niveau de balise */

.page-header,
.page-main,
.page-aside,
.page-footer {
  border: solid 4px rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  margin: 10px;
}

/* 2ieme niveau de balise */

.main__section {
  display: grid;
  grid-template-columns: 1fr;
  border: solid 4px rgb(0, 0, 255);
  background-color: rgb(0, 0, 255);
}

/* 3ieme niveau de balise */

.section__article {
  display: flex;
  flex-direction: column;
  border: solid 4px rgb(0, 0, 0);
  margin: auto 5px auto 5px;
  background-color: rgb(0, 255, 0);
  width: 365px;
}

.section__article--titre {
  text-align: center;
}
.container {
}

/* article--modif */

.section__article {
  text-align: center;
}

.page-header {
  text-align: center;
}
