<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../CSS/reset.css" rel="stylesheet">
    <link href="./templates.css" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <div id="container">
        <header>
            <h1>templates</h1>
            <nav>
                <a href="../index.html">Home</a>
                <a href="#">lien2</a>
                <a href="#">lien3</a>
            </nav>
        </header>
        <main>
            <article>
                <header>
                    <h1>Titre de l'article</h1>
                </header>
                <section>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi inventore, hic, est
                        necessitatibus nesciunt enim quia voluptates numquam accusamus temporibus animi aliquid minus
                        recusandae dignissimos voluptatem fugiat nihil illo dolor!
                    </p>
                </section>
                <footer>
                    <address>Auteur</address>
                    <time datetime="2015-05-16 19:00">date</time>
                </footer>
            </article>
        </main>
        <footer>
            <p>footer de la page</p>
        </footer>
    </div>
</body>

</html>