.container {
  display: flex;
  /* flex-direction: row; */
  flex-direction: column;
  width: 93rem;
  height: 93rem;
  border: 10px solid red;
  justify-content: space-around;
  position: relative;
}
/********************************************/
.boxes {
  height: 10rem;
  width: 10rem;
  border: solid 0.2rem blue;
  text-align: center;
}
/********************************************/
.boxes1 {
  display: flex;
  justify-content: space-between;
}

.Box1 {
  background-color: green;
}
.Box2 {
  background-color: yellow;
}
.Box3 {
  background-color: orange;
}
/********************************************/
.boxes2 {
  position: relative;
  right: -10rem;
  top: -46.5rem;
}
.Box4 {
  background-color: rgb(0, 255, 0);
}
.Box5 {
  background-color: rgb(255, 255, 0);
}
.Box6 {
  background-color: rgb(255, 166, 0);
}
/********************************************/
